<article class="post">
  <div class="title">
    <h3>{{title}}</h3>
  </div>
  <div class="meta">
    <a href="/blogpost/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>