<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
</head>

<body class="bg-img">

  <header>
    <h1>
      <a href="/">Tech Blog</a>
    </h1>
    <nav>
      {{#if loggedIn}}
      <a href="/dashboard">My Dashboard</a>
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
  </header>
  <div class="wrapper">
    {{{ body }}}
  </div>
  <footer>
    Brought to you by <a class="button" href="https://github.com/jessicajernigan" target="_blank"> jessicajernigan</a>
  </footer>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>


</html>