<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Just Tech News</a>
      </h1>
      <nav>
        {{!-- if helper will go here --}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/login">login</a>
        {{!-- if helper will go here --}}
      </nav>
    </header>
    <main>
      {{!-- body will go here --}}
      <p>Sample content!</p>
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

{{!-- if helper will go here --}}
  <script src="/javascript/logout.js"></script>
{{!-- if helper will go here --}}

</body>

</html>