<div class="flexbox">
  <section class="container newpost">
    <h2 class="heading">What's on your mind?</h2>
    <form class="new-post-form">
      <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" placeholder="e.g. A Snappy Title" />
      </div>
      <div>
        <label for="post-content">Body</label>
        <textarea id="post-content" name="post-content" class="large-input" rows="4"
          placeholder="e.g. Let me tell you about..." /></textarea>
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </section>
</div>


{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}


{{!-- Link this file to the template. --}}
<script src="/javascript/add-post.js"></script>