{{!-- Can't reuse the post-info partial here, because the title is an editable form field --}}
<div class="flexbox">
  <article class="container">
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
      Edit Post
    </h2>
    <form class="-form">
      <div>
        <input name="post-title" type="text" value="{{blogpost.title}}" />
      </div>
      <div>
        <a href="/blogpost/{{blogpost.id}}">{{blogpost.comments.length}} {{format_plural "comment" blogpost.comments.length}}</a>
      </div>
      <button type="submit">Save post</button>
      <button type="button" class="delete-post-btn">Delete post</button>
    </form>
  </article>
</div>



{{!-- Form for adding new comments and then list the post's current comments underneath --}}
<div class="flexbox">
  <article class="container">
    <form class="comment-form">
      <div>
        <textarea name="comment-body"></textarea>
      </div>

      <div>
        <button type="submit">add comment</button>
      </div>
    </form>
  </article>
</div>

{{> comments post.comments}}


<script src="/javascript/edit-blog-post.js"></script>
<script src="/javascript/delete-blog-post.js"></script>
<script src="/javascript/comment.js"></script>